In [2]:
import pandas as pd
import numpy as np

# Data Loading

In [35]:
datos_clima =  pd.read_pickle("etlData/datos_clima.pickle")
datos_clima

,Temp_Air_Mean,Temp_Air_Min,Temp_Air_Max,Relat_Hum_Mean,Relat_Hum_Min,Relat_Hum_Max,Wind_Speed_Mean,Wind_Speed_Min,Wind_Speed_Max
Date,,,,,,,,,
2017-01-05 19:00:00-05:00,24.00,21.39,29.39,85.0,64.0,96.0,1.03,0.00,3.08
2017-01-06 19:00:00-05:00,22.67,21.11,27.00,85.0,67.0,92.0,2.32,0.09,5.72
2017-01-07 19:00:00-05:00,22.56,19.78,26.61,86.0,67.0,96.0,1.03,0.00,5.90
2017-01-08 19:00:00-05:00,22.44,20.22,25.89,83.0,70.0,92.0,1.70,0.00,5.72
2017-01-09 19:00:00-05:00,23.89,20.72,31.78,76.0,48.0,90.0,1.97,0.00,5.72
...,...,...,...,...,...,...,...,...,...
2023-11-24 19:00:00-05:00,26.00,21.00,32.00,51.0,47.0,91.0,2.00,1.00,3.00
2023-11-25 19:00:00-05:00,25.00,22.00,28.00,65.0,65.0,84.0,2.00,2.00,3.00
2023-11-26 19:00:00-05:00,25.00,22.00,30.00,57.0,57.0,85.0,2.00,1.00,3.00
2023-11-27 19:00:00-05:00,26.00,22.00,33.00,49.0,49.0,90.0,2.00,1.00,3.00
2023-11-28 19:00:00-05:00,23.00,22.00,26.00,68.0,68.0,83.0,2.00,1.00,2.00

In [13]:
tendency_exclude = ["Wind_Speed_Min"]

# Prep before training

In [30]:
variable = "Temp_Air_Mean"

In [36]:
datos_clima[variable].resample("Y").mean()

Date
2017-12-31 00:00:00-05:00    23.756970
2018-12-31 00:00:00-05:00    24.364903
2019-12-31 00:00:00-05:00    25.014582
2020-12-31 00:00:00-05:00    25.185706
2021-12-31 00:00:00-05:00    24.789749
2022-12-31 00:00:00-05:00    24.146771
2023-12-31 00:00:00-05:00    25.346386
Freq: A-DEC, Name: Temp_Air_Mean, dtype: float64

In [37]:
datos_clima[variable].resample("M").mean()

Date
2017-01-31 00:00:00-05:00    23.111429
2017-02-28 00:00:00-05:00    23.357143
2017-03-31 00:00:00-05:00    23.815714
2017-04-30 00:00:00-05:00    23.364286
2017-05-31 00:00:00-05:00    24.916667
                               ...
2023-07-31 00:00:00-05:00    25.129032
2023-08-31 00:00:00-05:00    24.225806
2023-09-30 00:00:00-05:00    24.733333
2023-10-31 00:00:00-05:00    24.903226
2023-11-30 00:00:00-05:00    24.964286
Freq: M, Name: Temp_Air_Mean, Length: 83, dtype: float64

In [41]:
future_year = 2025

## Opción 2

In [10]:
y_tommy = y[y["Variedad"] == "Tommy Atkins"]["Cantidad"]#.values
y_tommy

32  2021    14792.0
    2020    11464.0
    2022    11420.0
    2023     9072.0
30  2020    11497.0
    2021    13805.0
    2022     9019.0
    2023     8848.0
Name: Cantidad, dtype: float64

In [11]:
y_ataulfo = y[y["Variedad"] == "Ataulfo"]["Cantidad"]#.values
y_ataulfo

33  2020    1677.0
    2021    2907.0
    2022    1350.0
    2023    1450.0
Name: Cantidad, dtype: float64

# Model Training

## Decision trees

In [12]:
from sklearn.linear_model import LinearRegression